# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Procesados (Opcional) ---
data_processed/*.csv